.navbar {
  background: rgb(253, 29, 71);
  background: linear-gradient(
    90deg,
    rgba(253, 29, 71, 1) 23%,
    rgba(252, 69, 187, 1) 100%
  );
}

.label-text {
  font-family: "Red Hat Display", sans-serif;
}

.restaurant-name {
  font-weight: bold;
}

.card {
  margin: 10px;
}

#logo {
  text-align: center !important;
  font-family: "Pacifico", cursive;
}

#greeting {
  font-family: "Pacifico", cursive;
}

.input {
  margin: 10px;
}

.checkboxes {
  margin: 10px;
}

#submit-button {
  margin: 10px;
}

#user-inputs {
  position: relative;
  top: 150px;
}

#date-results {
  position: relative;
  top: 125px;
}

.unavailable {
  font-style: italic;
  color: lightgrey;
  font-size: 0.9em;
}

.validate {
  font-style: italic;
  color: red;
  font-size: 0.7em;
  margin-top: 10px;
  font-weight: bold;
}

::-webkit-datetime-edit-text {
  opacity: 0.5;
}
::-webkit-datetime-edit-month-field {
  opacity: 0.5;
}
::-webkit-datetime-edit-day-field {
  opacity: 0.5;
}
::-webkit-datetime-edit-year-field {
  opacity: 0.5;
}
