.navbar {
  background: rgb(253, 29, 71);
  background: linear-gradient(
    90deg,
    rgba(253, 29, 71, 1) 23%,
    rgba(252, 69, 187, 1) 100%
  );
}

.navbar-brand {
  text-align: center;
}

.label-text {
  font-family: "Red Hat Display", sans-serif;
  font-weight: normal;
}

.restaurant-name,
.bar-name,
.event-name {
  font-weight: bold;
}

.card {
  margin: 10px;
}

.rating {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}

.bar-rating,
.restaurant-rating {
  color: black;
}
.unavailable {
  font-style: italic;
  color: lightgrey;
  font-size: 0.9em;
}

.validate {
  font-style: italic;
  color: red;
  font-size: 0.7em;
  margin: auto;
  font-weight: bold;
  color: #f14668;
}

.card-content {
  margin: auto;
}

.title {
  font-family: "Pacifico", cursive;
}

.input {
  margin: 10px;
}

.name {
  font-size: 20px;
}

.note {
  font-size: 10px;
  font-style: italic;
  color: #f14668;
}

#validate {
  height: 20px;
}

#logo {
  text-align: center !important;
  font-family: "Pacifico", cursive;
  color: white !important;
}

#greeting {
  font-family: "Pacifico", cursive;
  margin: 30px auto;
  text-align: center;
}

#submit-button {
  margin: 10px auto;
}

#user-inputs {
  position: relative;
  top: 150px;
}

#date-results {
  position: relative;
  top: 85px;
}

#go-back {
  margin-bottom: 50px;
}

::-webkit-datetime-edit-text {
  opacity: 0.6;
}
::-webkit-datetime-edit-month-field {
  opacity: 0.6;
}
::-webkit-datetime-edit-day-field {
  opacity: 0.6;
}
::-webkit-datetime-edit-year-field {
  opacity: 0.6;
}
::-webkit-inner-spin-button {
  display: none;
}
